	body {
	    font-family: Georgia, Times, serif;
		margin: 0px;
	}
	
	body.cover {
		background-image: url("../images/umbrellas.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		width: 100vw;
	}
	
	#wrapper {
		margin-right: auto;
		margin-left: auto;
		width: 65%;
  		box-sizing: border-box;
	}
	
	#container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	h1 {
		margin-top: 10%;
		color:  #96CECE;
		text-align: center;
		font-size: 10vw;	
		text-shadow: 4px 4px black;
		border: solid 6px white;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	
	img {
	border: double;
	opacity: 0.6;
	border-radius: 25px;
	}
	
	img:hover {
	opacity: 1.0;
	}
		
	.main1 {
		margin-top: -3%;
	}
	
	.main1 > a {
		color: #FFFFFF;
		font-size: 7vw;	
		text-decoration: none;
		padding-left: 1vw;
		text-shadow: 3px 3px black;
		font-family: "Comic Sans MS", cursive, sans-serif;
		
	}
	
	.main1 > a:hover {
		color: #96CECE;
	}
	
	@media screen and (max-width: 600px) {
		#container {
			font-size: 10pt;
		}
	}
	@media screen and (min-width: 601px) {
		#container {
		} 
	}	