body {
	font-family: Georgia, Times, serif;
	margin: 0px;
	}
	
@media only screen and (max-width: 768px) { body { font-size: 90%; } }
@media only screen and (max-width: 125px) { body { font-size: 80%; } }

body.cover {
	background-image: url("../images/umbrellas.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100vw;
	}
	
#wrapper {
  	box-sizing: border-box;
  	background-color: white;
  	border: solid 6px #96CECE;
  	position: relative;
  	margin: 20px;
  	min-height: 93vh;
	}
	
h1{
	}
	
h1.seeme {
	color:  #96CECE;
	margin-top: 40px;
	font-size: 6vw;	
	font-style: italic;
	text-shadow: 3px 3px black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	}
	
.main1 {
	float: right;
	
	}
	
.main1 > a {
	color: #96CECE;
	font-size: 2em;	
	font-style: italic;
	text-decoration: none;
	padding-left: 10px;
	text-shadow: 3px 3px black;
	font-family: "Comic Sans MS", cursive, sans-serif;	
	}
	
.main1 > a:hover {
	color: #f69963;
	}
	
a:active {
	color: #f69963;
	text-decoration: none;
}	

#content{
	position: absolute;
}
	
#footer {
	background-color: #96CECE;
	min-height: 20%;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid 2px #f69963;
}
