	body { background-color: #f6f3ef; border-left-color: #bdedee; border-left-style: solid; border-left-width: 10px; border-right-color: #bdedee; border-right-style: solid; border-right-width: 10px; color: #333; font-family: "freight-text-pro", "Georgia", serif; line-height: 1.5; }
	@media only screen and (max-width: 768px) { body { font-size: 90%; } }
	@media only screen and (max-width: 320px) { body { font-size: 80%; } }

	body.cover { background-image: url("../images/umbrellas.png"); background-size: cover; }

	body:not(.cover) html, body:not(.cover) body { height: 100%; }
	body:not(.cover) body { margin: 0px; padding: 0px; }
	body:not(.cover) .wrapper { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -100px; }
	body:not(.cover) .wrapper .container { padding: 0 0 100px 0; }
	body:not(.cover) footer { height: 100px; }
	
	
	body {
		font-family: Georgia, Times, serif;
		font-size: 3vw;
		margin: 0;
		background-color: #004D57;
	}
	
	<!-- <div id="header">
	<img src="images/tree.jpg"/>
</div> -->
	<!-- <div id="homeme">
	<img src="images/seemenaomi.jpg"/>
	</div> -->
	
	/* #header {
		width: 100%;
	}
	
	#header > img {
		width: 100%;
		border: solid black;
		box-sizing: border-box;
	} */
	
	
	@media screen and (max-width: 600px) {
		#content {
			margin: 1.0em;
			font-size: 10pt;
		}
	}
	@media screen and (min-width: 601px) {
		#content {
			margin: .5em;
		} 
	}
	/* #homeme {
		float: right;
		position: relative;
		border: solid black;
		box-sizing: border-box;
		width: 206px;
		height: 206px;
	} */
	
	
/* .main2 {
	float: right;
	margin-right: 20px;
	}
	
.main2 > a {
	color: #FFFFFF;
	font-size: 6vw;	
	text-decoration: none;
	text-shadow: 3px 3px black;
	font-family: "Comic Sans MS", cursive, sans-serif;
		
	}
	
.main2 > a:hover {
	color: #96CECE;
	} */
	
	@media screen and (max-width: 600px) {
		#content {
			margin: 1.0em;
			font-size: 10pt;
		}
	}
	@media screen and (min-width: 601px) {
		#content {
			margin: .5em;
		} 
	}	
	
	<nav class="main2">
	<a href="http://www.seenaomi.net">Contact</a>
</nav>
<!-- <div id="content">
Here is some content-->
</div>

.main2 {
		margin-top: 3%;
	}
	
	.main2 > a {
		color: #FFFFFF;
		font-size: 6vw;	
		text-decoration: none;
		text-shadow: 3px 3px black;
		font-family: "Comic Sans MS", cursive, sans-serif;
		
	}
	
	.main2 > a:hover {
		color: #96CECE;
	}