body {
	font-family: Georgia, Times, serif;
	margin: 0px;
	background-color: #ff7878;
	}

.cmobile {
	background-image: url("../images/codingM.png");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	}
	
#wrapper {
  	box-sizing: border-box;
  	background-color: white;
  	border: solid 6px #253e7e;
  	position: relative;
  	margin: 20px;
  	min-height: 93vh;
	}
	
.main1 {
	float: right;
	position: relative;
	z-index: 5;
	}
	
.main1 > a {
	color: #96CECE;
	font-size: 2em;	
	font-style: italic;
	text-decoration: none;
	padding-left: 10px;
	text-shadow: 3px 3px black;
	font-family: "Comic Sans MS", cursive, sans-serif;	
	}
	
.main1 > a:hover {
	color: #f69963;
	}
	
a:active {
	color: #f69963;
	text-decoration: none;
}	

#content{
	width: 100%;
	margin-top: 20px;
}

#content2{
	margin-left: 20px;
}

#content2 textarea{
	font-size: 1.000em;
	width: 90%;
	height: 250px; 
	border-radius: 1em 4em 1em 4em;
	box-shadow:30px 30px 30px 5px black;
}

#content2 input[type="text"]{ 
	width: 100%; 
	max-width: 250px; 
	box-sizing: border-box; 
	border-radius: 2em 2em 2em 2em;
}

h1{
	}
	
h1.seeme {
	color:  #96CECE;
	margin-top: 40px;
	font-size: 6vw;	
	font-style: italic;
	text-shadow: 3px 3px black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	}
		
#footer {
	background-color: #96CECE;
	min-height: 20%;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid 2px #f69963;
}

@media screen and (max-width: 600px) {
		#wrapper {
			font-size: 10pt;
		}
	}
@media screen and (min-width: 601px) {
		#wrapper{
		} 
	}	
